table.table-small * {
    font-size: 80%;
}

table.table-small th, table.table-small tr, table.table-small td {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
}

table.table-small th {
    border-width: 3px;
}

table.table-small td {
    font-size: 65%;
}

div.left {
    float: left;
    width: 50%;
}

div.right {
    float: right;
    width: 50%;
}